$mainColor:#e2494c ;
$secColor:hsl(0, 0%, 61%) ;
$mobile: " (max-width:480px)";
$Tablet: "(min-width:481px) and (max-width:768px)";
$laptop: "(min-width:769px) and (max-width:1024px)";
$Desktop: "(min-width:1025px) and (max-width:1200px)";
$Xlarge: "(min-width:1201px)";